@import url("./variables.css");
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Adjust Colors */
.tab-background:not([selected="true"]),
.tab-background[selected="true"],
#urlbar {
	background: transparent !important;
}

#titlebar-buttonbox,
#TabsToolbar,
#PersonalToolbar,
#nav-bar {
	background: var(--background-color) !important;  
	background-image: var(--image-url) !important;
}

/* No Black Line */
#navigator-toolbox{
	margin-top: var(--tab-color-offset) !important;
}

#navigator-toolbox{
	border-bottom: 0px !important;
}

/* Leave tab-close-button if selected */
/*
.tab-close-button.tab-close-button[selected=true]:not([pinned="true"]) {
	display: var(--close-btn) !important;
}
*/

/* No OnmiBar Border */
/*
#urlbar {
	border: none !important;
	box-shadow: none !important;
}
*/
/* Clean Up */

/* Remove Tab Borders */

/* Tab Line At Bottom */

/* Remove Overflow Shadow */

/* Client Side Decorations */

/*start stealthfox*/
/*end stealthfox?*/

/* For pressing [alt] on Linux, don't do any animations. The menu shows up */
/* abruptly, anyway. */



/* Userchrome.js Enabler */
toolbarbutton#alltabs-button {
	-moz-binding: url("userChrome.xml#js");
}
